<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171430585480-71lqn7ra8eev4j488eoeas1952cvo2id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171430585480-71lqn7ra8eev4j488eoeas1952cvo2id</string>
	<key>API_KEY</key>
	<string>AIzaSyCX4RhbSMrUZ1o20PnbCgPBuDTVK6XnZ8o</string>
	<key>GCM_SENDER_ID</key>
	<string>171430585480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sme-app.bloc</string>
	<key>PROJECT_ID</key>
	<string>sme-app-64e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>sme-app-64e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171430585480:ios:2a9d5fcdadd575f2f0eb3d</string>
	<key>DATABASE_URL</key>
	<string>https://sme-app-64e1b.firebaseio.com</string>
</dict>
</plist>